use_default_settings: true

server:
  secret_key: "__SEARXNG_SECRET_KEY__"
  limiter: false
  image_proxy: true
  http_protocol_version: "1.0"

search:
  safe_search: 0
  default_lang: "en-GB"
  formats:
    - html
    - json
